<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫首页</title>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="css/bkwindows.css" rel="stylesheet" type="text/css" />
    <style>
    </style>
</head>
<body>

<div class="container" id="app">
<!--    导航栏-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <form class="navbar-form navbar-left" role="search">
                    <div  class="form-group">
                        <input  type="text" class="form-control" placeholder="搜索" v-model="search">
                    </div>
                    <button type="button" class="btn btn-default" @click="btn(1)">搜索</button>
                </form>
            </div>
        </div>
    </nav>

    <br>

    <div class="row" >
        <div class="col-xs-6 col-md-3" v-for="u in url">
            <a  class="thumbnail">
                <img id="myImg" :src="u" onclick="imgOnclick(this)">
            </a>
        </div>
    </div>
</div>


<div id="myModal" class="modal">

    <a onclick="document.getElementById('myModal').style.display='none'">

        <!-- 弹窗内容 -->
        <img class="modal-content" id="img01">

        <!-- 文本描述 -->
        <div id="caption"></div>
    </a>
</div>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    //vue
    var vm = new Vue({
        el: "#app",
        data: {
            search:"",
            msgs:"",
            url:[],
            page:0
        },
        //不知道为什么没有用
        methods: {
            replace:function(input) {
                return input.replace(/"/g,"").replace("[","").replace("]","")
            },

            btn:function (object) {
                this.page =  this.page + object;
                axios.get("http://47.103.25.206:9999/search/"+this.search+"/"+this.page+"/20").then(response => (
                    this.msgs = response.data,
                        url(this.msgs)
            ))
            },
            rep:function (keyword) {
                axios.get("http://47.103.25.206:9999/open/"+keyword).then(response => (
                    console.log("因为"+keyword+"不存在,后台开始收录,请骚等30秒搜索"),
                    alert("因为"+keyword+"不存在,后台开始收录,请骚等30秒搜索")
                ))
            }
        },
        created(){
            window.onscroll = function(){
                var scrollTop = document.documentElement.scrollTop||document.body.scrollTop;
                var windowHeight = document.documentElement.clientHeight || document.body.clientHeight;
                var scrollHeight = document.documentElement.scrollHeight||document.body.scrollHeight;
                if(scrollTop+windowHeight>=scrollHeight){
                    //写后台加载数据的函数
                    vm.btn(+1)
                }
            }
        }

    })

    function url(object) {
        if (object.length == 0){
            vm.rep(vm.search)

        }else {
            for (let i = 0; i < object.length; i++) {
                stirngR(object[i].urls)
            }
        }// vm.url = object.urls;
    }

    function stirngR(o) {
        var a =  o.replace("[","").replace("]","").replace(/"/g,"").split(",")
        for (let string of a) {
            vm.url.push(string)
        }
    }

    function toImgHref(imgUrl) {

        window.open(imgUrl,"_blank")
    }



    // 获取弹窗
    var modal = document.getElementById('myModal');
    // 获取图片插入到弹窗 - 使用 "alt" 属性作为文本部分的内容
    var img = document.getElementById('myImg');
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");


    function imgOnclick(img) {
        modal.style.display = "block";
        modalImg.src = img.src;
        captionText.innerHTML = img.alt;
    }

    // 获取 <span> 元素，设置关闭按钮
    var span = document.getElementsByClassName("close")[0];
    // 当点击 (x), 关闭弹窗
    span.onclick = function() {
        modal.style.display = "none";
    }


</script>
</body>

</html>